{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
      <meta charset="UTF-8">
      <title>Mateusz Miotk - Strona domowa</title>
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta name="Keywords" content="mateusz, miotk, instytut informatyki, uniwersytet gdański" />
{#      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#      <meta http-equiv="cache-control" content="no-cache" />#}
      <meta name="Distribution" content="Global" />
      <meta name="author" content="Mateusz Miotk" />
      <meta name="Robots" content="index,follow" />
      {% csrf_token %}
      <!-- Favicons -->
      <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

      <!-- Bootstrap CSS File -->
      <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

      <!-- Libraries CSS Files -->
      <!-- <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->

      <!-- Main Stylesheet File -->
      <link href="{% static "bootstrap/css/style.css" %}" rel="stylesheet">
      <script type="text/javascript" src="{% static 'bootstrap/js/main.js' %}"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'hello:index_page' %}">Mateusz Miotk</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'hello:index_page' %}">Strona domowa</a></li>
          <li><a href="{% url 'hello:research_page' %}">Nauka</a></li>
          <li><a href="{% url 'hello:blog_page' %}">Blog</a></li>
          <li><a href="{% url 'hello:teaching_page' %}">Dydaktyka</a></li>

          {% if user.is_authenticated %}
                 {% if request.is_secure %}
                      <li>  <a href="https://login.microsoftonline.com/4c46da7c-e2cc-4e6c-bab5-b982a10b2809/oauth2/logout?post_logout_redirect_uri=https://{{ request.get_host }}/logout">{{ user }} (Wyloguj)</a></li>
                 {% else %}
                      <li>  <a href="https://login.microsoftonline.com/4c46da7c-e2cc-4e6c-bab5-b982a10b2809/oauth2/logout?post_logout_redirect_uri=http://{{ request.get_host }}/logout">{{ user }} (Wyloguj)</a></li>
                 {% endif %}

          {% else %}

              <li><button id="microsoft-login" class="btn btn-link" type="button">Logowanie za pomocą konta Office365</button></li>

          {% endif %}
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>


  <!-- +++++ Welcome Section +++++ -->
  <div id="ww">
    <div class="container">
      {% block content %}
      {% endblock %}
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /ww -->


  <!-- +++++ Projects Section +++++ -->

  <!-- /container -->


  <!-- +++++ Footer Section +++++ -->

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Mateusz Miotk</h4>
          <p>
              Instytut Informatyki<br/>
              Zakład optymalizacji kombinatorycznej<br/>
              Uniwersytet Gdański<br/>
              ul. Wita Stwosza 57<br/>
              80-306 Gdańsk, Polska<br/>
              <img src="{% static "images/mail_dol.png"%}" alt=""><br/>
          </p>
        </div>
        <!-- /col-lg-4 -->

        <div class="col-lg-4">
          <h4>Przydatne linki</h4>
          <p>
            <a href="http://www.inf.ug.edu.pl">Instytut Informatyki UG</a><br/>
            <a href="http://www.mfi.ug.edu.pl">Wydział MFI UG</a><br/>
            <a href="http://www.ug.edu.pl">Uniwersytet Gdański</a><br/>
            <a href="http://www.github.com/">Github</a><br/>
            <a href="http://www.stackoverflow.com/">Stackoverflow</a><br/>
            <a href="http://www.coursera.com">Coursera</a><br/>
            <a href="https://stepik.org/catalog?language=en">Stepik</a><br/>
            <a href="https://www.researchgate.net/profile/Mateusz_Miotk">ResearchGate</a><br/>
		    <a href="https://scholar.google.com/citations?user=GlUQnscAAAAJ&hl=pl">Google Scholar</a><br/>
		    <a href="https://orcid.org/0000-0003-2768-7861">Orcid</a>
          </p>
        </div>
        <!-- /col-lg-4 -->

        <div class="col-lg-4">
          <h4>Losowy cytat</h4>
            <p>"{{ citationBody }}"</p>

            <p align="right">{{ citationAuthor }}</p>
        </div>
        <!-- /col-lg-4 -->
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Stanley</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/stanley-bootstrap-freelancer-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Stanley template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="{% static "jquery/jquery.min.js"%}"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
{#    {% if microsoft_login_enabled %}#}
        <script type="text/javascript" src="{% static 'bootstrap/js/login.js' %}"></script>
              <script type="text/javascript">
                document.addEventListener("DOMContentLoaded",
                                          function(event) {
                                            window.microsoft.login = new window.microsoft.objects.LoginController({
                                              'authorization_url': '{{ microsoft_authorization_url }}'
                                            });
                                          });
              </script>
{#  {% endif %}#}
{#  <script src="{% static "php-mail-form/validate.js"%}"></script>#}
{#  <script src="{% static "easing/easing.min.js"%}"></script>#}

  <!-- Template Main Javascript File -->

</body>
</html>