{% extends "base.html" %}
{% load static %}
{% load i18n static %}
{% block content %}
  <div class="row">
        <div class="col-lg-8 col-lg-offset-0">
          <h2>Adres</h2>
          <p>mgr Mateusz Miotk<br/>
          Instytut Informatyki<br/>
          Zakład optymalizacji kombinatorycznej<br/>
          Uniwersytet Gdański<br/>
          ul. Wita Stwosza 57<br/>
          80-306 Gdańsk, Polska <br/>
          </p>

        </div>
        <!-- /col-lg-8 -->
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-0">

            <h2>Kontakt oraz konsultacje</h2>
            <p>
            <img src="{% static "images/mail.png"%}"><br/>
                <strong>Pokój</strong>: <mark><strong>4.10</strong></mark> (nowy budynek Instytutu Informatyki)<br/>
            <strong>Konsultacje w semestrze zimowym: <mark>Czwartki godz. 8.00-10.00 - Pokój 4.10</mark></strong><br/>
            <strong>Istnieje możliwość komunikowania się ze mną za pomocą MS Teams prawie 24/7.</strong>
            </p>

          </div>
          <!-- /col-lg-8 -->
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-0">
              <h2>Plan zajęć (semestr zimowy 2020/2021)</h2>
{#              {% if user.is_authenticated %}#}
{#                  {% if vacation %}#}
{#                    <img src="{% static "images/wakacje.jpg"%}"><br/>#}
{#                  {% elif userFaculty == "ug" %}#}
{#                    {% include "myWebsite/scheldule.html" %}#}
{#                  {% elif userFaculty == "pjatk" %}#}
{#                    {% include "myWebsite/scheldule.html" %}#}
{#                  {% else %}#}
{#                     <p>Brak zajęć dla ciebie !!!</p>#}
{#                  {% endif %}#}
{#              {% else %}#}
{#                   <p><button id="microsoft-login" class="btn btn-light" type="button">Dostęp do tej strony wymaga logowania za pomocą konta Office 365.</button></p>#}
{#              {% endif %}#}
{#          <div id = "table-wrapper" >#}
{#              <div id="table-scroll" style="overflow: scroll;">#}

{#          </div>#}
{#</div>#}
      <!--
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" class="text-center">Poniedziałek</th>
                    <th scope="col" class="text-center">Czwartek</th>
                    <th scope="col" class="text-center">Sobota</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row" class="text-center">8-10</th>
                  <td>Wprowadzenie do programowania <br/>Filologia angielska<br/> sp. Przetwarzanie języka naturalnego <br/>8.00-9.00 <br/>sala 310</td>

                  <td>Konsultacje <br/>8.00-10.00 </td>
                  <td rowspan="2">Języki programowania <br/> i środowisko programisty<br/>Grupa 2 <br/>Sala 29 <br/>8.05-12.15</td>
                </tr>
                <tr>
                  <th scope="row" class="text-center">10-12</th>
                   <td></td>
                  <td>Testowanie aplikacji Java <br/>3I sp. Tester programista<br/>9.15-11.30 <br/>sala 29</td>
                  <td></td>

                </tr>
                <tr>
                  <th scope="row" class="text-center">12-14</th>
                  <td>Bazy danych</br> grupa 1I 2 </br> 12.15-13.45 </br>sala 29</td>
                  <td></td>
                   <td rowspan="3" class="last">Języki programowania <br/> i środowisko programisty<br/>Grupa 5 <br/>Sala 29<br/> 13.00-17.10</td>
                </tr>
                <tr>
                  <th scope="row" class="text-center"> 14-16</th>
                  <td>Wprowadzenie do programowania <br/>Filologia angielska<br/> sp. Przetwarzanie języka naturalnego <br/>14.00-16.00 <br/>sala 29</td>
                  <td>Seminarium zakładu <br/> optymalizacji kombinatorycznej<br/> 14.15-15.15</td>

                </tr>
                <tr>
                  <th scope="row" class="text-center">16-18</th>
                  <td></td>
                  <td></td>
                  <td>Warsztat programisty <br/>Grupa 1P 2 <br/>Sala 3.11 <br/>16.00-17.30</td> -->
{#                </tr>#}
{#                </tbody>#}
{#              </table>#}
          </div>
          <!-- /col-lg-8 -->
       </div>
      <!-- /row -->
{% endblock %}