
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th class="text-center">Poniedziałek</th>
                    <th class="text-center">Wtorek</th>
                    <th class="text-center">Środa</th>
                    <th class="text-center">Czwartek</th>
                    <th class="text-center">Piątek</th>
                    <th class="text-center">Sobota</th>
                    <th class="text-center">Niedziela</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <th style="width: 6%; vertical-align: middle" class="text-center">8-10</th>
                  <td>Wprowadzenie do programowania <br/>Filologia angielska<br/> sp. Przetwarzanie języka naturalnego <br/>8.00-9.00 <br/>sala 310</td>
                  <td>Konsultacje <br/>8.00-10.00 </td>
                  <td>Języki programowania <br/> i środowisko programisty<br/>Grupa 2 <br/>Sala 29 <br/>8.05-12.15</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th style="width: 6%; vertical-align: middle" class="text-center">10-12</th>
                   <td></td>
                  <td>Testowanie aplikacji Java <br/>3I sp. Tester programista<br/>9.15-11.30 <br/>sala 29</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th style="width: 6%; vertical-align: middle" class="text-center">12-14</th>
                  <td>Bazy danych</br> grupa 1I 2 </br> 12.15-13.45 </br>sala 29</td>
                  <td></td>
                   <td>Języki programowania <br/> i środowisko programisty<br/>Grupa 5 <br/>Sala 29<br/> 13.00-17.10</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th style="width: 6%; vertical-align: middle" class="text-center"> 14-16</th>
                  <td>Wprowadzenie do programowania <br/>Filologia angielska<br/> sp. Przetwarzanie języka naturalnego <br/>14.00-16.00 <br/>sala 29</td>
                  <td>Seminarium zakładu <br/> optymalizacji kombinatorycznej<br/> 14.15-15.15</td>
                  <td>|</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th style="width: 6%; vertical-align: middle" class="text-center">16-18</th>
                  <td></td>
                  <td></td>
                  <td>Warsztat programisty <br/>Grupa 1P 2 <br/>Sala 3.11 <br/>16.00-17.30</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
              </table>